# CORE
fastapi
uvicorn[standard]
python-multipart

# AUTH & SECURITY — SPLIT TO AVOID RAILWAY BUG
python-jose
cryptography

passlib[bcrypt]
PyJWT

# DATABASE
SQLAlchemy
pydantic
python-dotenv

# AI MODEL
tensorflow==2.19.0
opencv-python-headless
numpy
pillow