fastapi
uvicorn[standard]
python-multipart

# THE ONLY LINE THAT WORKS ON RAILWAY RIGHT NOW
python-jose[cryptography]

passlib[bcrypt]
PyJWT
pydantic[email]


SQLAlchemy
pydantic
python-dotenv

# AI MODEL
tensorflow
opencv-python-headless
numpy
pillow
